<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li<% if ('home' === _layout) { %><%- ' class="active"' -%><% } %>><a href="/emvc">Home</a></li>
    <li<% if ('guide' === _layout) { %><%- ' class="active"' -%><% } %>><a href="/emvc/guide/">Guide</a></li>
  </ul>
  <h3><a href="/emvc">emvc</a></h3>
</div>
